<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Main</title>

<link rel="stylesheet" type="text/css" href="/css/main.css">
<link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">
<style>
    * {
        margin: 0px;
        box-sizing: border-box;
    }
</style>
