.show_modal_bar {
  transform: scale(1) !important;
  opacity: 1 !important;
  visibility: visible !important;
  background-color: #fff;
  z-index: 222;
}

.modal.fade .modal-dialog {
  transform: scale(0.8) !important;
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none !important;
}

.admin-icon-relative {
  position: relative;
}
.admin-icon-relative .admin-icon {
  position: absolute;
  right: -20px;
  display: block;
  width: 17px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 17px;
  cursor: pointer;
}
.admin-icon-relative .admin-icon > svg {
  height: 100%;
  width: 100%;
  position: absolute;
}

textarea {
  width: 100%;
  background: #e5e6e8;
  margin-bottom: 20px !important;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  position: relative;
  z-index: 2;
  padding: 10px;
  border: none;
}

.login-form-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  padding: 25px 20px;
  background: #e8e8e830;
  bottom: 0;
  top: 0;
  height: max-content;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border: 1px solid #83808024;
}
.login-form-container .title-form {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 23px;
  margin: 10px 10px 20px 10px;
  color: #acacac;
  font-weight: 400;
}
.login-form-container .link-to-reset {
  text-align: center;
  display: block;
  margin: 10px;
  font-size: 13px;
  font-style: italic;
  color: #acacac;
  letter-spacing: 1px;
}
.login-form-container .form-icon {
  width: 40px;
  height: 40px;
  margin: auto;
}
.login-form-container .form-icon svg {
  width: 100%;
  height: 100%;
}

.register-form-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  padding: 25px 20px;
  background: #e8e8e830;
  bottom: 0;
  top: 0;
  height: max-content;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border: 1px solid #83808024;
}
.register-form-container .title-form {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 23px;
  margin: 10px 10px 20px 10px;
  color: #acacac;
  font-weight: 400;
}
.register-form-container .link-to-reset {
  text-align: center;
  display: block;
  margin: 10px;
  font-size: 13px;
  font-style: italic;
  color: #acacac;
  letter-spacing: 1px;
}
.register-form-container .form-icon {
  width: 40px;
  height: 40px;
  margin: auto;
}
.register-form-container .form-icon svg {
  width: 100%;
  height: 100%;
}

.product-image_wrap img {
  max-width: 100%;
}
.product-image_wrap_loading {
  border: 1px solid #dddddd;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
}

.product-details-wrap__highway {
  display: flex;
  align-items: center;
}
.product-details-wrap__highway > span {
  border: 1px solid #dddddd;
  font-size: 13px;
  padding: 4px 9px;
  position: relative;
}
.product-details-wrap__highway > span.highway_category {
  border-right: 0;
}
.product-details-wrap__highway > span.highway_category:after {
  content: "";
  position: absolute;
  right: 0px;
  width: 1px;
  height: 21px;
  background: #dddddd;
  transform: rotate(-45deg);
  top: -4px;
}
.product-details-wrap__highway > span.highway_category:before {
  content: "";
  position: absolute;
  right: 0px;
  width: 1px;
  height: 20px;
  background: #dddddd;
  transform: rotate(45deg);
  bottom: -4px;
}
.product-details-wrap__highway > span.highway_no_subCategory:before, .product-details-wrap__highway > span.highway_no_subCategory:after {
  right: -7px;
}
.product-details-wrap__highway > span.highway_subCategory {
  border-left: 0;
  border-right: 0;
  padding-left: 16px;
}
.product-details-wrap__highway > span.highway_subCategory:after {
  content: "";
  position: absolute;
  right: -7px;
  width: 1px;
  height: 21px;
  background: #dddddd;
  transform: rotate(-45deg);
  top: -4px;
}
.product-details-wrap__highway > span.highway_subCategory:before {
  content: "";
  position: absolute;
  right: -7px;
  width: 1px;
  height: 20px;
  background: #dddddd;
  transform: rotate(45deg);
  bottom: -4px;
}
.product-details-wrap > h4 {
  margin-top: 16px;
  margin-bottom: 13px;
}
.product-details-wrap_stars {
  margin-top: 16px;
}
.product-details-wrap_stars > span {
  font-size: 23px;
  margin: 0 2px;
  cursor: pointer;
  color: #FF9600;
}
.product-details-wrap_stars > span.half {
  color: #a19f9f;
}

.product-description > h4 {
  margin-top: 16px;
}
.product-description > p {
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 13px;
}

.cart-main-wrap .cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-main-wrap .cart-header > span {
  display: block;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  width: 100%;
  font-weight: 600;
  text-align: center;
  border-right: 0;
  border-bottom: 0;
  background-color: #f4f4f4;
}
.cart-main-wrap .cart-header > span:last-child {
  border-right: 1px solid #dddddd;
}
.cart-main-wrap .cart-body .single-row_cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.cart-main-wrap .cart-body .single-row_cart > div {
  text-align: center;
  width: 100%;
  border: 1px solid #dddddd;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0;
  border-bottom: 0;
}
.cart-main-wrap .cart-body .single-row_cart > div:last-child {
  border-right: 1px solid #dddddd;
}
.cart-main-wrap .cart-body .single-row_cart:last-child {
  border-bottom: 1px solid #dddddd;
}
.cart-main-wrap .cart-body .single-row_cart__photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 11px;
}
.cart-main-wrap .cart-body .single-row_cart__name {
  height: 100%;
  overflow: hidden;
}
.cart-main-wrap .cart-body .single-row_cart__count > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  border: 1px solid #dddddd;
  padding-left: 5px;
}
.cart-main-wrap .cart-body .single-row_cart__count > div > p {
  padding: 0 5px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dddddd;
}
.cart-main-wrap .cart-body .single-row_cart__count > div > p span.lnr {
  margin: 2px 0;
  font-size: 13px;
  cursor: pointer;
}
.cart-main-wrap .cart-body .single-row_cart__count > span.lnr-trash {
  cursor: pointer;
  margin-left: 10px;
}
.cart-main-wrap .cart-body .cart-removed-wrap {
  height: 50px;
  color: #666464;
  justify-content: flex-start;
}
.cart-main-wrap .cart-body .cart-removed-wrap .single-row_cart__removed span {
  margin-left: 10px;
  cursor: pointer;
}

.about-left-wrap {
  background-size: cover;
  height: 100%;
  background-position: left 0;
}

.contact-main-wrap > h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact-main-wrap .textarea-field {
  position: relative;
}
.contact-main-wrap .textarea-field.error-field-contact textarea {
  margin-bottom: 30px !important;
}
.contact-main-wrap .error-line {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  margin-bottom: 10px;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 14px;
  color: red;
}

.contact-main-wrap .avatar-wrap {
  text-align: center;
  position: relative;
  width: 160px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 2px;
  overflow: hidden;
}
.contact-main-wrap .avatar-wrap label {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 22;
  cursor: pointer;
  background: #191919b5;
  width: calc(100% - 45px);
}
.contact-main-wrap .avatar-wrap label:hover {
  background: #191919;
}
.contact-main-wrap .avatar-wrap label span {
  font-weight: 900;
  color: #f01b48;
}
.contact-main-wrap .avatar-wrap img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}
.contact-main-wrap .button-wrap-account {
  display: flex;
  align-items: center;
}
.contact-main-wrap .button-wrap-account a {
  text-decoration: underline !important;
  color: #007bff !important;
  cursor: pointer;
}

main {
  flex: 1 0 auto;
}
main > div {
  margin-top: 10px;
}

#__next > div:first-child {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
