@import "variables";
.cart-main-wrap {
  .cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > span {
      display: block;
      padding: 5px 10px;
      border: 1px solid #dddddd;
      width: 100%;
      font-weight: 600;
      text-align: center;
      border-right: 0;
      border-bottom: 0;
      background-color: $main-grey-slow-bg-color;
      &:last-child {
        border-right: 1px solid #dddddd;
      }
    }
  }
  .cart-body {
    .single-row_cart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      > div {
        text-align: center;
        width: 100%;
        border: 1px solid #dddddd;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 0;
        border-bottom: 0;
        &:last-child {
          border-right: 1px solid #dddddd;
        }
      }
      &:last-child {
        border-bottom: 1px solid #dddddd;
      }
      &__photo {
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          padding: 11px;
        }
      }
      &__name {
        height: 100%;
        overflow: hidden;
      }
      &__price {}
      &__count {
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 70px;
          border: 1px solid #dddddd;
          padding-left: 5px;
          > p {
            padding: 0 5px;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            border-left: 1px solid #dddddd;
            span.lnr {
              margin: 2px 0;
              font-size: 13px;
              cursor: pointer;
            }
          }
        }
        > span.lnr-trash {
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
    .cart-removed-wrap{
      height: 50px;
      color: #666464;
      justify-content: flex-start;
      .single-row_cart__removed span {
        margin-left: 10px;
        cursor: pointer;
      }
    }

  }
}
