@import 'variables';
@import 'mixins';
@import 'extends';
@import 'base';
@import 'medias';

//Pages
@import 'login';
@import 'register';
@import 'product';
@import 'cart';
@import 'about';
@import 'contact';
@import 'account';

main {
  flex: 1 0 auto;
  > div {
    margin-top: 10px;
  }
}

#__next {
  > div:first-child {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}
