.slider-container {
  margin-top: 16px;
  &_title {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 16px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 4px;
      height: 1px;
      background-color: #eaeaea;
    }
    h2 {
      font-size: 18px;
      margin-bottom: 0;
      color: #666666;
      background-color: #fff;
      position: relative;
      z-index: 2;
      padding-right: 5px;
      &:before {
        content: '';
        position: relative;
        width: 15px;
        height: 10px;
        bottom: 0px;
        margin-right: 4px;
        background-color: $main-bg-color;
        display: inline-block;
      }
    }
  }
  :global {
    .slick-slide {
      padding: 0 3px;
    }
  }
}
.slick-slider-main {
  padding-top: 20px;
  :global {
    span.lnr-chevron-left, span.lnr-chevron-right {
      right: 30px;
      position: absolute;
      top: -5px;
      cursor: pointer;
    }
    span.lnr-chevron-left {
      right: 25px;
    }
    span.lnr-chevron-right {
      right: 3px;
    }
  }
}
