:global(#category-form) {
  .subCategoryContent {
    padding-left: 20px;
    position: relative;
    :global(.error-field:last-child) {
      > span {
        margin-bottom: 0px;
      }
      > input {
        margin-bottom: 20px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: -8px;
      height: calc(100% + -1px);
      border-left: 1px dashed #ababab;
      top: -40px;
    }
    &:before {
      content: "";
      position: absolute;
      left: -7px;
      height: 5px;
      border-bottom: 1px dashed #ababab;
      top: -45px;
      width: 14px;
    }
    > div {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: -25px;
        height: 5px;
        border-bottom: 1px dashed #ababab;
        top: 18px;
        width: 24px;
      }
    }
  }
  .parentUI-input {
    position: relative;
    .remove-icon {
      position: absolute;
      right: 10px;
      width: 12px;
      top: 10px;
      z-index: 2222;
      cursor: pointer;
      opacity: 0;
      transition: .4s;
      visibility: hidden;
    }
    &:hover .remove-icon {
      opacity: 1;
      visibility: visible;
    }
  }
  .addCategory {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    > a {
      font-size: 18px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      padding: 0px;
      position: relative;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        left: -1px;
        top: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        margin: auto;
        border-radius: 50%;
      }
    }
  }
}
.categories-container {
  .categories-container-header{
    background-color: $main-dark-bg-color;
    color: #fff;
    padding: 10px 10px 10px 25px;
    h4{
      font-size: 20px;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
  .categories-container-body {
    > ul {
      padding: 0;
      :global(.openItemDropdown a ){
        > span {
          transform: rotate(180deg)
        }
      }
      > li {
        position: relative;
        &:before{
          content: '';
          left: 0;
          height: 100%;
          background-color: $main-grey-slow-bg-color;
          width: 1px;
          position: absolute;
          top: 0;
        }
        > a {
          cursor: pointer;
          @include transition(.3);
          span {
            @include transition(.3);
          }
          &:hover {
            background-color: $main-grey-bg-color;
          }
          .dropdown_arrow{
            width: 20px;
            height: 20px;
            display: inline-block;
            text-align: center;
            &:hover{
              font-weight: 600;
            }
            &:before{
              font-size: 0.64rem;
              content: "\e874";
              font-family: Linearicons-Free;
              height: 10px;
              width: 10px;
              display: inline-block;
            }
          }

          text-decoration: none;
          padding: 7px 10px 7px 20px;
          text-transform: uppercase;
          font-size: 0.825rem;
          color: $font-color;
          border-right: none !important;
          background-color: $main-grey-slow-bg-color;
          border-bottom: 1px solid $main-border-grey-color;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .submenu_dropdown{
          list-style-type: none;
          padding-left: 10px;
          max-height: 0;
          overflow: hidden;
          @include transition(.3);
          > li {
            > a {
              cursor: pointer;
              position: relative;
              @include transition(.3);
              &:hover {
                background-color: $main-grey-slow-bg-color;
              }
              &:before{
                content: '';
                position: absolute;
                left: -10px;
                width: 10px;
                height: 1px;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: $main-grey-slow-bg-color;
              }
              border-bottom: 1px solid $main-grey-slow-bg-color;
              color: $font-color;
              text-decoration: none;
              font-size: 0.84rem;
              background-color: $main-grey-very-slow-bg-color;
              display: block;
              padding: 5px 10px 5px 15px;
            }
            &:last-child {
              > a{
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
