<!-- views/pages/addList.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') -%>
</head>
<body class="container">

<%- include ('../partials/header') -%>

<main>
    <div class="jumbo tron">
        <form action="/api/items/create" method="post" id="add-list">
            <h1>Add New ToDo </h1>
            <label for="name">
                Name *
                <input type="text" id="name" name="name">
            </label>
            <label for="date">
                Date *
                <input type="date" id="date" name="date">
            </label>
            <label for="description">
                Description *
                <textarea id="description" name="description"></textarea>
            </label>
            <button type="submit">Add</button>
            <% if (error) { %>
                <p class="error-message"><%- error -%></p>
            <% }%>
        </form>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') -%>
</footer>

</body>
</html>
